{  
    "config" : {
     "remote_storage_server" : "130.226.137.140",
     "remote_database" : "smashbox",
     "remote_storage_user" : "deic",
     "remote_storage_password" : "smashbox",
    },
    "tests" : [
        {
         "test_name" : "monit",
         "graph" : [
         	{
	        	"type" : "compare-sync",
			    "runid" : "deic",
			    "server" : [
				    "https://seacloud.cc/",
				    "data.deic.dk",
				    "cernbox.cern.ch",
				    "test.data.deic.dk",
				    "dropbox"
				],
			    "start_time" : None,
			    "stop_time" : None,
			    "show" : False,
		   	},
         	{
	        	"type" : "compare-sync",
			    "runid" : "cern",
			    "server" : [
				    "https://seacloud.cc/",
				    "data.deic.dk",
				    "cernbox.cern.ch",
				    "test.data.deic.dk",
				    "dropbox"
				],
			    "start_time" : None,
			    "stop_time" : None,
			    "show" : False,
		   	},
         	{
	        	"type" : "compare-time",
			    "runid" : "deic",
			    "server" : "cernbox.cern.ch",
			    "start_time" : None,
			    "stop_time" : None,
			    "show" : False,
		   	},
         	{
	        	"type" : "compare-time",
			    "runid" : "cern",
			    "server" : "cernbox.cern.ch",
			    "start_time" : None,
			    "stop_time" : None,
			    "show" : False,
		   	},
         	{
	        	"type" : "compare-time",
			    "runid" : "deic",
			    "server" : "dropbox",
			    "start_time" : None,
			    "stop_time" : None,
			    "show" : False,
		   	},
         	{
	        	"type" : "histogram-sync",
			    "runid" : "deic",
			    "server" : [
				    "https://seacloud.cc/",
				    "data.deic.dk",
				    "cernbox.cern.ch",
				    "test.data.deic.dk",
				    "dropbox"
				],
			    "start_time" : None,
			    "stop_time" : None,
			    "show" : True,
		   	},
	     ]
	    },
    ],
}