{  
    "config" : {
     "remote_storage_server" : "X",
     "remote_database" : "X",
     "remote_storage_user" : "X",
     "remote_storage_password" : "X",
    },
    "tests" : [
        {
         "test_name" : "monit",
         "graph" : [
         	{
	        	"type" : "compare-sync",
			    "runid" : "X",
			    "server" : [
				    "X",
				    "X",
				    "X",
				    "X",
				    "X"
				],
			    "start_time" : None,
			    "stop_time" : None,
		   	},
	     ]
	    }
    ],
}